<!-- {% extends '../layout/layout.html' %}

{% block content %} 
	<h1>Логин</h1>
	<form>
		<label>Логин</label><br>
		<input type="text" name="login" value="login"><br>
		<label>Пароль</label><br>
		<input type="password" name="password" value="password"><br><br>
		<input type="submit" value="Отправить">
	</form>

{% endblock %}
 -->

<% layout('../layout/layout') -%>
<h1>Edit resume</h1>
<div id="edit_resume_from_wrapper">

</div>

 <% include ../templates/editResumeEmployee %>

<script type="text/javascript">
    initResume();
</script>

<% stylesheet('/stylesheets/client/employee.css') -%>

<% script('/javascripts/client/employee.js') -%>   
<% script('/javascripts/view/employee.js') -%>     