<% layout('../layout/layout') -%>
<h1>Login</h1>
<form>
	<label>login</label><br>
	<input type="text" name="login" value="login"><br>
	<label>password</label><br>
	<input type="password" name="password" value="password"><br><br>
	<input type="submit" value="Send">
</form>

<% stylesheet('/stylesheets/client/employee.css') -%>

<% script('/javascripts/client/employee.js') -%>   
<% script('/javascripts/view/employee.js') -%>     