{% extends '../layout/layout.html' %}

{% block content %} 
    <h1>Регистрация</h1>
    <form>
        <label>Введите логин</label><br>
        <input type="text" name="login" value="login"><br>
        <label>Введите емейл</label><br>
        <input type="text" name="email" value="example@mail.com"><br>
        <label>Введите пароль</label><br>
        <input type="password" name="password" value="password"><br>
        <label>Повторите пароль</label><br>
        <input type="password" name="password" value="password"><br><br>
        <input type="submit" value="Отправить">
    </form>

{% endblock %}
  
    
