<% layout('../layout/layout') -%>

<h1>Registration</h1>
<form>
    <label>login</label><br>
    <input type="text" name="login" value="login"><br>
    <label>email</label><br>
    <input type="text" name="email" value="example@mail.com"><br>
    <label>password</label><br>
    <input type="password" name="password" value="password"><br>
    <label>again password</label><br>
    <input type="password" name="password" value="password"><br><br>
    <input type="submit" value="Отправить">
</form>
<% stylesheet('/stylesheets/client/employee.css') -%>

<% script('/javascripts/client/employee.js') -%>   
<% script('/javascripts/view/employee.js') -%>     