<% layout('../layout/layout') -%>

<h1>Restore password</h1>
<form>
	<p>email</p>
	<input type="text" name="email" value="exemple@mail.com"><br><br>
	<input type="submit" value="Send">
</form>
<% stylesheet('/stylesheets/client/employee.css') -%>

<% script('/javascripts/client/employee.js') -%>   
<% script('/javascripts/view/employee.js') -%>     