<% layout('../layout/layout') -%>

<h1>Profile</h1>
<div id="employer_profile_from_wrapper">

</div>

<% include ../templates/editProfileEmployer %>

<script type="text/javascript">
    initEmployerProfile();
</script>

<% stylesheet('/stylesheets/client/employer.css') -%>

<% script('/javascripts/client/employer.js') -%>   
<% script('/javascripts/view/employer.js') -%>  