<% layout('../layout/layout') -%>

<h1>Edit position</h1>
<div id="edit_position_from_wrapper">

</div>

 <% include ../templates/editPositionEmployer %>

<script type="text/javascript">
    initPosition();
</script>

<% stylesheet('/stylesheets/client/employer.css') -%>

<% script('/javascripts/client/employer.js') -%>
<% script('/javascripts/view/employer.js') -%>