<% layout('../layout/layout') -%>

    <h1>Welcome</h1>
    <div id="info_wrapper">
        
    <div id="employer_resumes_news"></div>

    </div>

<% stylesheet('/stylesheets/client/employer.css') -%>

<% script('/javascripts/client/employer.js') -%>   
<% script('/javascripts/view/employer.js') -%>      