<% layout('../layout/layout') -%>
<h1>Welcome employee</h1>
<h2><h2>
<div id="info_wrapper">
	
<div id="employee_jobs_news"></div>
<div id="employee_jobs_cvs"></div>

</div>


<% stylesheet('/stylesheets/client/employee.css') -%>

<% script('/javascripts/client/employee.js') -%>   
<% script('/javascripts/view/employee.js') -%>      