<% layout('../layout/layout') -%>
<h1>Edit resume</h1>
<div id="edit_resume_from_wrapper">

</div>

 <% include ../templates/editResumeEmployee %>

<script type="text/javascript">
    initResume();
</script>

<% stylesheet('/stylesheets/client/employee.css') -%>

<% script('/javascripts/client/employee.js') -%>   
<% script('/javascripts/view/employee.js') -%>     