<h1>Welcome employee</h1>
<h2><h2>
<div id="info_wrapper">
	
<div id="employee_jobs_news"></div>
<div id="employee_jobs_cvs"></div>

</div>

 <link rel="stylesheet" href="/stylesheets/client/employee.css"/>
            
 <script rel="text/javascript" src="/javascripts/client/employee.js"/>
 <script rel="text/javascript" src="/javascripts/view/employee.js"/>