<% layout('../layout/layout') -%>

<h1>Profile</h1>
<div id="profile_from_wrapper">
	
</div>

<% include ../templates/editProfileEmployee %>

<script type="text/javascript">
    initProfile();
</script>

<% stylesheet('/stylesheets/client/employee.css') -%>

<% script('/javascripts/client/employee.js') -%>   
<% script('/javascripts/view/employee.js') -%>  