extends layout/layout

block content
  <h1>Поиск</h1>
  h2=category
  h2=name
  <form>
  <input type="text" name="search" value="" size=120 style="align:center">
  <input type="submit" value="Отправить">
  </form>
