<script type="text/html" id="showResumesEmployee">
	<br>
	<div  class="panel panel-primary" id="resumes_employee_show_form">
		
			<div class="panel-heading">
	            <span>{{name}}</span>
	      	</div>
	    <ul class="list-group">
	      	<li class="list-group-item">
	      		<span class="label label-info">Description</span>
	            <span>{{description}}</span>
	      	</li>
	      	<li class="list-group-item">
	      		<span class="label label-info">Skills</span>
	            <span>{{skills}}</span>
	      	</li>
	      	<li class="list-group-item">
	      		<span class="label label-info">Experience</span>
	            <span>{{experience}}</span>
	      	</li>
	      	<li class="list-group-item">
	      		<span class="label label-info">Education</span>
	            <span>{{education}}</span>
	      	</li>
	      	<li class="list-group-item">
	      		<span class="label label-success">Salary</span>
	            <span>{{salary}}</span>
	      	</li>
	    </ul>
    </div>
</script>