<script type="text/html" id="showPositionsEmployer">

	<form id="positions_employer_show_form" class="form-horizontal" action="" method="post" autocomplete="on" onsubmit="return false">
			<div id="form_element_wrapper">
	            <textarea value="{{name}}">
	      	</div>
	      	<div id="form_element_wrapper">
	            <textarea value="{{description}}">
	      	</div>
	      	<div id="form_element_wrapper">
	            <textarea value="{{requirements}}">
	      	</div>
	      	<div id="form_element_wrapper">
	            <textarea value="{{salary}}">
	      	</div>
	      	<div id="form_element_wrapper">
	            <textarea value="{{location}}">
	      	</div>
    </form>

</script>