<script type="text/html" id="showPositionsEmployer">
	<br>
	<div  class="panel panel-primary" id="positions_employer_show_form">
		
			<div class="panel-heading">
	            <span>{{name}}</span>
	      	</div>
	    <ul class="list-group">
	      	<li class="list-group-item">
	      		<span class="label label-info">Description</span>
	            <span>{{description}}</span>
	      	</li>
	      	<li class="list-group-item">
	      		<span class="label label-info">Requirements</span>
	            <span>{{requirements}}</span>
	      	</li>
	      	<li class="list-group-item">
	      		<span class="label label-success">Salary</span>
	            <span>{{salary}}</span>
	      	</li>
	      	<li class="list-group-item">
	      		<span class="label label-info">Location</span>
	            <span>{{location}}</span>
	      	</li>
	    </ul>
    </div>
</script>