<% layout('../layout/layout') -%>
<% include ../templates/showPositions %>

    <h1>Search positions</h1>
    <form id="search_form" class="form-horizontal" action="" method="post" autocomplete="on"
                  onsubmit="showSearchPositions();return false">
	    <input type="text" id="search_text" value="" size=120 style="align:center">
	    <input type="submit" value="Find">
    </form>

    <div id="positions_find_list_wrapper"></div>

    <% stylesheet('/stylesheets/client/employee.css') -%>
    <% stylesheet('/stylesheets/client/search.css') -%>

<% script('/javascripts/client/search.js') -%>
