body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.well-pd-sm{
  padding-bottom: 5px;
}

/*.row{
    display: table;
    width: 100%; 
    table-layout: fixed; 
    border-spacing: 10px; 
}

.column-sm{
    display: table-cell;
    width: 10%;
    text-align: right;
    vertical-align: middle;
}

.column-lg{
    display: table-cell;
    width:90%;
}*/