<!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">FAST JOB</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/findJob">Find job</a></li>
        <li><a href="/postResume">Post resume</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">login</a></li>
      </ul>
    </div><!-/.nav-collapse ->
  </div>
</nav> -->

<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <% if (role == "employer") { %>
      <!-- TODO add url for employer-->
      <li><a href="/findEmployee">Find employee</a></li>
      <li><a href="/postVacancy">Post vacancy</a></li> 
    <% } else {%>
      <!-- TODO add url for employee-->
      <li><a href="/findJob">Find job</a></li>
      <li><a href="/postResume">Post resume</a></li> 
    <% } %>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if (auth == 'true') { %>
      <li>      
        <a href="#">{{name}}</a>
        <img src="#">{{avatar}}>
      </li>
      <li>
        <a href="/api/auth/logout">Logout</a>
      </li>
    <% } else { %>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/registration">Sing In</a></li>
    <% } %>
  </ul>
</div><!--/.nav-collapse -->

<div class="container">
  <ul class="nav navbar-nav"> 
      <li><a href="/employer/droom">index</a></li>
      <li><a href="/employer/droom/profile">profile</a></li>
      <li><a href="/employer/droom/position/new">new position</a></li>
      <li><a href="/employer/droom/position/1">edit position</a></li>
      <li><a href="/employer/droom/positions">position</a></li>
    </ul>
</div>

<div class="container">
  <ul class="nav navbar-nav"> 
      <li><a href="/employee/joby">index</a></li>
      <li><a href="/employee/joby/profile">profile</a></li>
      <li><a href="/employee/joby/resume/new">new resume</a></li>
      <li><a href="/employee/joby/resume/1">edit resume</a></li>
      <li><a href="/employee/joby/resumes">resumes</a></li>
    </ul>
</div>