<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/">FAST JOB</a>
</div>
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <% if (role == "employer") { %>
      <!-- TODO add url for employer-->
      <li><a href="/findEmployee">Find employee</a></li>
      <li><a href="/postVacancy">Post vacancy</a></li> 
    <% } else {%>
      <!-- TODO add url for employee-->
      <li><a href="/findJob">Find job</a></li>
      <li><a href="/postResume">Post resume</a></li> 
    <% } %>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if (auth == true) { %>
      <li>      
        <a href="#">{{name}}</a>
        <img src="#">{{avatar}}>
      </li>
    <% } else {%>
      <li><a href="/login">login</a></li>
    <% } %>
  </ul>
</div><!--/.nav-collapse -->