<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Work</title>
            <link rel="stylesheet" href="/stylesheets/framework/bootstrap-theme.css"/>
            <link rel="stylesheet" href="/stylesheets/framework/bootstrap-theme.min.css"/>
            <link rel="stylesheet" href="/stylesheets/framework/bootstrap.css"/>
            <link rel="stylesheet" href="/stylesheets/framework/bootstrap.min.css"/>

            <link rel="stylesheet" href="/stylesheets/view/style.css"/>
            <link rel="stylesheet" href="/stylesheets/client/layout.css"/>

            <!--script rel="text/javascript" src="/javascripts/framework/bootstrap.js"/-->
            <script type="text/javascript" src="/javascripts/framework/bootstrap.min.js"></script>
            <script type="text/javascript" src="/javascripts/framework/npm.js"></script>
            <script type="text/javascript" src="/javascripts/framework/mustache.min.js"></script>

            <script type="text/javascript" src="/javascripts/client/layout.js"></script>
            <script type="text/javascript" src="/javascripts/view/layout.js"></script>
            <script type="text/javascript" src="/javascripts/client/requestMaker.js"></script>
            <script type="text/javascript" src="/javascripts/client/config.js"></script>
    </head>
    <body>

        <% include header %>

        <div>
            <%- body -%>
        </div>
        
        <% include footer %>
    </body>
</html>