<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Fast job</title>
            <link rel="stylesheet" href="/stylesheets/framework/bootstrap-theme.css"/>
            <link rel="stylesheet" href="/stylesheets/framework/bootstrap-theme.min.css"/>
            <link rel="stylesheet" href="/stylesheets/framework/bootstrap.css"/>
            <link rel="stylesheet" href="/stylesheets/framework/bootstrap.min.css"/>

            <link rel="stylesheet" href="/stylesheets/view/style.css"/>
            <link rel="stylesheet" href="/stylesheets/client/layout.css"/>

            <%- stylesheets %>

            <!--script rel="text/javascript" src="/javascripts/framework/bootstrap.js"/-->
            <script type="text/javascript" src="/javascripts/framework/jquery-2.1.4.js"></script>
            <script type="text/javascript" src="/javascripts/framework/bootstrap.min.js"></script>
            <script type="text/javascript" src="/javascripts/framework/mustache.min.js"></script>

            <script type="text/javascript" src="/javascripts/client/layout.js"></script>
            <script type="text/javascript" src="/javascripts/view/layout.js"></script>
            <script type="text/javascript" src="/javascripts/client/requestMaker.js"></script>
            <script type="text/javascript" src="/javascripts/client/config.js"></script>

            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <!-- script src="../../assets/js/ie10-viewport-bug-workaround.js"></script-->
            <%- scripts %>

    </head>
    <body>
      <!-- Fixed navbar -->
      <% include header %>
      
      <div class="container">

        <!-- Main component for a primary marketing message or call to action -->
        <%- body -%>

      </div> <!-- /container -->

      <% include footer %>
    </body>
</html>