<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}work{% endblock %}</title>

        {% block head %}
            <link rel="stylesheet" href="/public/stylesheets/framefork/bootstrap-theme.css">
            <link rel="stylesheet" href="/public/stylesheets/framefork/bootstrap-theme.min.css">
            <link rel="stylesheet" href="/public/stylesheets/framefork/bootstrap.css">
            <link rel="stylesheet" href="/public/stylesheets/framefork/bootstrap.min.css">
            <link rel="stylesheet" href="/public/stylesheets/styles.css">
            <link rel="javascript" href="/public/javascripts/framework/bootstrap.js">
            <link rel="javascript" href="/public/javascripts/framework/bootstrap.min.js">
            <link rel="javascript" href="/public/javascripts/framework/npm.js">
            
        {% endblock %}
    </head>
    <body>
        {% block header %}<h1>Header</h1>{% endblock %}
        {% block content %}<h1>Content</h1>{% endblock %}
        {% block footer %}<h1>Footer</h1>{% endblock %}
    </body>
</html>